.socket-container {
    margin: 2rem 5%;
    height: calc(100vh - 150px);
    background-color: #0d0d0d;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    padding: 2rem 0;
}

.socket-row {
    display: flex;
    padding: 1rem 2rem;
    border: 1px solid #2e2e2e;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    padding: 0.5rem 3rem;
    border-radius: 10px;
    border: none;
    background: #242424;
    color: white;
    border: 1px solid #2e2e2e;

}

.close-btn:hover {
    background: #121212;
}

.close-btn:active {
    background: black;
}