.navbar-container {
    height: 60px;
    border: 1px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    margin: 1rem 1rem;
    width: 98%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}